:root {
  --dark-colour: #232323;
  --dark-brown: #632;
  --mushroom-colour: #d1d3ad;
  --verdant-green: #568b43;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--mushroom-colour);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--dark-brown) solid 4px;
  border-radius: 2em;
  padding: 1em;
  margin: 4em auto;
  max-width: 700px;
  label {
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 2em;
    font-weight: 700;
  }
  input,
  textarea {
    font-size: 1.2em;
    font-family: inherit;
    line-height: 1.5em;
    min-width: 300px;
    width: 80%;
    padding: 5px;
  }
  textarea {
    height: 7em;
  }
  button {
    margin-top: 2em;
    max-width: 100px;
  }
}

.delete-button {
  border-color: red;
  color: red;
}

.form-error {
  color: var(--dark-brown);
  font-size: 1.1rem;
  font-style: italic;
  margin: 1em;
}
