:root {
  --dark-colour: #232323;
  --dark-brown: #632;
  --mushroom-colour: #d1d3ad;
  --verdant-green: #568b43;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--mushroom-colour);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--dark-brown) solid 4px;
  border-radius: 2em;
  padding: 1em;
  margin: 4em auto;
  max-width: 700px;
  label {
    align-self: flex-start;
    margin-left: 10%;
    font-weight: 700;
  }
  input,
  textarea {
    line-height: 1.5em;
    min-width: 300px;
    width: 80%;
    margin-bottom: 2em;
    padding: 5px;
  }
  textarea {
    height: 7em;
  }
  button {
    max-width: 100px;
  }
}
